{
  "defaultConfig": "dev",
  "configurations": {
    "dev": {
      "displayName": "Development Environment",
      "mezmo": {
        "enabled": false,
        "ingestionKey": "",
        "host": "logs.use.dev.logdna.net",
        "tags": "restaurant-app,dev"
      },
      "otel": {
        "enabled": false,
        "serviceName": "restaurant-app-dev",
        "tags": "restaurant-app,otel,dev",
        "pipelines": {
          "logs": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.dev.mezmo.com"
          },
          "metrics": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.dev.mezmo.com"
          },
          "traces": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.dev.mezmo.com"
          }
        }
      }
    },
    "integration": {
      "displayName": "Integration Environment",
      "mezmo": {
        "enabled": false,
        "ingestionKey": "",
        "host": "app.use.int.logdna.net",
        "tags": "restaurant-app,integration"
      },
      "otel": {
        "enabled": false,
        "serviceName": "restaurant-app-int",
        "tags": "restaurant-app,otel,integration",
        "pipelines": {
          "logs": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.int.mezmo.com"
          },
          "metrics": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.int.mezmo.com"
          },
          "traces": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.use.int.mezmo.com"
          }
        }
      }
    },
    "production": {
      "displayName": "Production Environment",
      "mezmo": {
        "enabled": false,
        "ingestionKey": "",
        "host": "logs.mezmo.com",
        "tags": "restaurant-app,production"
      },
      "otel": {
        "enabled": false,
        "serviceName": "restaurant-app-prod",
        "tags": "restaurant-app,otel,production",
        "pipelines": {
          "logs": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.mezmo.com"
          },
          "metrics": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.mezmo.com"
          },
          "traces": {
            "enabled": false,
            "ingestionKey": "",
            "pipelineId": "",
            "host": "pipeline.mezmo.com"
          }
        }
      }
    }
  }
}